table.results-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  th, td {
    padding: 12px 15px;
  }
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    &:last-of-type {
      border-bottom: 2px solid #009879;
    }
    &.active-row {
      font-weight: bold;
      color: #009879;
    }
    &.item {
      .icon {
        color: #8da2c1;
        cursor: pointer;
      }
    }
  }
}
